/** main header logo **/
.header-main__logo {
  width: 100px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url('/assets/3bodypage.png');
  background-size: 80px 40px;
  a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -1000em;
  }
}